:root {
    --head: #839d25;
    --purple: #3F259D;
}

main {
    display: flex;
}

.project-side {
    background-color: rgba(218, 218, 218, 0.744);
    padding: 30px 120px 30px 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 91vh;
    /* max-width: 100px; */
}

.days-projects, .days-topic {
    color: var(--head);
}

.day-font {
    padding: 10px;
    font-size: 20px;
}

.day-font:hover, .days-project:hover {
    color: white;
    background-color: var(--head);
    cursor: pointer;
}

.projectSide-projects {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.days-project {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: var(--head)
}

.tasks {
    color: var(--purple);
    background-color: #d5e890;
    width: 70%;
    padding: 10px 30px 30px 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h2 {
    padding: 2px;
    border-bottom: black 1px solid;
}

.toDoList {
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.addTask, .addProject {
    color: white;
    font-size: 20px;
    background-color: var(--purple);
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
}

.addProject {
    margin-top: 20px;
}

.addTask:hover, .addProject:hover {
    background-color: #200d66;
    cursor: pointer;
}

.newProjectInput { 
    background-color: #dee2cfd5;
    height: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 10px; 
}

.hidden {
    display: none;
}
